body {
  background: #d4a276;
}
button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  line-height: 1;
  color: #583101;
  font-family: "Euclid Circular A";
  font-size: 20px;
}
:is(.navabr, .burger, .dropdowns) {
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar {
  z-index: 1;
  left: 0;
  display: flex;
  align-items: stretch;
  height: 72px;
  background: #bc8a5f;
  color: #583101;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 2px #8b5e34;
  -webkit-box-shadow: 0px 5px 10px 2px #8b5e34;
  -moz-box-shadow: 0px 5px 10px 2px #8b5e34;
}
.burger {
  z-index: 3;
  right: 0;
  display: grid;
  place-items: center;
  width: 72px;
  height: 72px;
  background-image: url("./menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}
body.open .burger {
  background-image: url("./close.svg");
}
.button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 24px;
  height: 100%;
  opacity: 0.6;
}
.burger > img {
  display: none;
}
.dropdowns {
  left: -9999px;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #bc8a5f;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
}
.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dropdown-menu {
  display: grid;
  margin-bottom: 28px;
  border-radius: 0px 0px 20px 20px;
  transition: 0.3s;
  box-shadow: -5px 6px 13px 1px #8b5e34;
  -webkit-box-shadow: -5px 6px 13px 1px #8b5e34;
  -moz-box-shadow: -5px 6px 13px 1px #8b5e34;
}
.dropdown-menu > button {
  color: #583101;
  opacity: 1;
  height: 40px;
}
.dropdown-menu > button:hover {
  opacity: 1;
}
@media (width >= 500px) {
  button {
    font-size: 16px;
  }
}
@media (width >= 500px) {
  .burger {
    display: none;
  }
}
@media (width >= 500px) {
  .button {
    padding: 0 10px 0 24px;
  }

  .button > img {
    display: block;
  }
}

@media (width >= 500px) {
  .dropdown:hover .button {
    opacity: 1;
  }
}
@media (width < 500px) {
  body.open .dropdowns {
    opacity: 1;
    visibility: visible;
    left: 0;
  }
}
@media (width >= 500px) {
  .dropdowns {
    position: static;
    flex-direction: row;
    justify-content: flex-start;
    background: transparent;
    opacity: 1;
    visibility: visible;
  }
}
@media (width >= 500px) {
  .dropdown {
    height: 100%;
    flex-direction: row;
  }

  .dropdown-menu {
    position: absolute;
    top: 72px;
    left: 0;
    width: 180px;
    padding: 6px 24px 10px;
    margin-bottom: 0;
    place-items: start;
    background: #bc8a5f;
    opacity: 0;
    visibility: hidden;
    translate: 0 24px;
    transition: 0.3s;
  }

  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
  }
}
@media (width >= 500px) {
  .dropdown-menu > button {
    opacity: 0.6;
  }

  .dropdown:hover .button {
    opacity: 1;
  }
}
