* {
  box-sizing: border-box;
}
:root {
  --color-primary: #caf0f8;
}
html,
body,
.wrapper {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Euclid Circular A";
  background: #caf0f8;
  color: #0077b6;
}
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  background: #023e8a;
  width: 100%;
}
.navbar h1 {
  display: none;
  flex: 2 1 auto;
  font-weight: 800;
  font-size: 25px;
  margin: 0 0 0 20px;
}
.tabs {
  flex: 1 1 auto;
}
.tabs > input {
  display: none;
}
label {
  position: relative;
  z-index: 2;
  padding: 2px 2px 18px 2px;
  flex: 1 1 auto;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
}
.buttons {
  position: relative;
  display: flex;
}
.underline {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: -3px;
  width: 24%;
  display: grid;
  place-items: center;
  transition: 0.3s;
}
.underline::after {
  content: "";
  display: block;
  translate: 0 -15px;
  width: 20px;
  height: 15px;
  /* align-items: center;
    justify-content: center; */
  text-align: center;
  padding: 10px 55px 10px 11px;
  border-radius: 30%;
  background: var(--color-primary);
}
.tabs input:nth-child(1):checked ~ .buttons .underline {
  translate: 0 0;
}
.tabs input:nth-child(2):checked ~ .buttons .underline {
  translate: 100% 0;
}
.tabs input:nth-child(3):checked ~ .buttons .underline {
  translate: 200% 0;
}
.tabs input:nth-child(4):checked ~ .buttons .underline {
  translate: 300% 0;
}
.tabs input:nth-child(1):checked ~ .buttons label:nth-child(1),
.tabs input:nth-child(2):checked ~ .buttons label:nth-child(2),
.tabs input:nth-child(3):checked ~ .buttons label:nth-child(3),
.tabs input:nth-child(4):checked ~ .buttons label:nth-child(4) {
  opacity: 1;
  color: #023e8a;
}
@media (width >= 440px) {
  .navbar {
    top: 0;
    bottom: auto;
  }
  .tabs {
    scale: 0.8;
    width: 200px;
  }
  .navbar h1 {
    display: block;
  }
}
