html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
body {
  background-image: linear-gradient(
    135deg,
    rgba(196, 145, 18, 0.336),
    #fb8500 100%
  );
}
.nav-wrapper {
  margin: 5px;
  margin-top: 0px;
  width: 90%;
  height: 80px;
  border-radius: 0 0 15px 15px;
  padding: 0 25px;
  z-index: 2;
  background: #fb8500;
  box-shadow: 0 5px 10px rgba(255, 184, 3, 0.502);
}
.nav-tab:not(:last-child) {
  padding: 10px 25px;
  margin: 0;
  border-right: 1px solid #ca6702;
  color: #ffb703;
}
.nav-tab:last-child {
  padding: 10px 0 0 25px;
  color: #ca6602e7;
}
.nav-tab,
.menu-btn {
  cursor: pointer;
}
.hidden {
  display: none;
}
@media screen and (max-width: 800px) {
  .nav-container {
    position: fixed;
    display: none;
    overflow-y: auto;
    z-index: -1;
    top: 0;
    right: 0px;
    width: 250px;
    height: 100%;
    background: rgba(251, 134, 0, 0.295);
    box-shadow: -5px 0 20px rgba(255, 184, 3, 0.502);
  }

  .nav-tabs {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 80px;
    width: 100%;
  }

  .nav-tab:not(:last-child) {
    padding: 20px 25px;
    margin: 0;
    color: #ffb703;
    border-right: unset;
    border-bottom: 2px solid #ca6702;
    text-shadow: 1px -3px 4px #ca6702;
  }

  .nav-tab:last-child {
    padding: 20px 25px;
    color: #fb5607;
    text-shadow: 1px -2px 4px #ca6702;
  }

  .menu-btn {
    position: relative;
    display: block;
    margin: 0;
    width: 20px;
    height: 15px;
    cursor: pointer;
    z-index: 2;
    padding: 10px;
    border-radius: 10px;
  }

  .menu-btn .menu {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #ffb703;
  }

  .menu-btn .menu:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .menu-btn .menu:nth-child(3) {
    margin-top: 4px;
  }

  #menuToggle:checked + .menu-btn .menu {
    transition: transform 0.2s ease;
  }

  #menuToggle:checked + .menu-btn .menu:nth-child(1) {
    transform: translate3d(0, 6px, 0) rotate(45deg);
  }

  #menuToggle:checked + .menu-btn .menu:nth-child(2) {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
  }

  #menuToggle:checked + .menu-btn .menu:nth-child(3) {
    transform: translate3d(0, -6px, 0) rotate(-45deg);
  }

  #menuToggle:checked ~ .nav-container {
    z-index: 1;
    display: flex;
    animation: menu-slide-left 0.3s ease;
  }
  @keyframes menu-slide-left {
    0% {
      transform: translateX(200px);
    }
    to {
      transform: translateX(0);
    }
  }
}
